/*===================================================
 全体
====================================================*/
body {
  font-family: "Lato", "Noto Sans JP", sans-serif;
  font-size: .875rem;
  font-feature-settings: "palt";
  letter-spacing: .05rem;
  line-height: 1.75;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  background: url("../images/bg_pattern.png");
  background-size: contain;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  position: relative;

  @include media-breakpoint-up(xl) {
    margin-top: 80px;
  }
}

section {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;

  td,
  th {
    font-size: $font-size-sm;
    padding: 1rem;
  }
}

p {
  font-size: 14px;
}

/*===================================================
 余白
====================================================*/
.sec {
  padding: 4rem 0;

  @include media-breakpoint-down(md) {
    padding: 2.5rem 0;
  }
}

.py-main {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include media-breakpoint-down(md) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.pt-main {
  padding-top: 6rem;

  @include media-breakpoint-down(md) {
    padding-top: 3rem;
  }
}

.pb-main {
  padding-bottom: 6rem;

  @include media-breakpoint-down(md) {
    padding-bottom: 3rem;
  }
}

/*===================================================
 テキスト
====================================================*/
.f-10,
.f-12,
.f-14,
.f-16,
.f-18,
.f-20,
.f-24,
.f-28 {
  line-height: 165% !important;
}

.f-32,
.f-36 {
  line-height: 175% !important;
  letter-spacing: .1rem;
}

.f-36 {
  font-size: 2.25rem;

  @include media-breakpoint-down(md) {
    font-size: 1.625rem;
  }
}

.f-32 {
  font-size: 2rem;

  @include media-breakpoint-down(md) {
    font-size: 1.875rem;
  }
}

.f-28 {
  font-size: 1.75rem;

  @include media-breakpoint-down(md) {
    font-size: 1.625rem;
  }
}

.f-24 {
  font-size: 1.5rem;

  @include media-breakpoint-down(md) {
    font-size: 1.125rem;
  }
}

.f-20 {
  font-size: 1.25rem;

  @include media-breakpoint-down(md) {
    font-size: 1.125rem;
  }
}

.f-18 {
  font-size: 1.125rem;

  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
}

.f-16 {
  font-size: 1rem;
}

.f-14 {
  font-size: 0.875rem;
}

.f-12 {
  font-size: 0.750rem;
}

.f-10 {
  font-size: 0.625rem;
}

.lh-1 {
  line-height: 1;
}

/*===================================================
 リンク
====================================================*/
a {
  &:hover {
    text-decoration: none;
    transition: 0.3s;
    opacity: .6;
  }
}

.btn {
  position: relative;
  padding: 1.2rem 0;
  min-width: 18.75rem;
  max-width: 20rem;
  border-radius: 5em;
  color: $white;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.1rem;

  @include media-breakpoint-down(md) {
    margin: auto;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    position: absolute;
    top: calc(50% - 4.5px);
    right: 2rem;
    border-left: 3px solid $white;
    border-bottom: 3px solid $white;
    transform: rotate(-135deg);
  }

  &.rounded {
    border-radius: 10px !important;
  }

  &-border {
    border: 2px solid $primary;
    color: $primary !important;

    &:after {
      border-left: 3px solid $primary;
      border-bottom: 3px solid $primary;
    }
  }

  &-center {
    margin: 0 auto;
  }

  &-white {
    color: $body-color;
    background-color: $white;

    &:after {
      border-left: 3px solid $primary;
      border-bottom: 3px solid $primary;
    }
  }
}

/*===================================================
 見出し
====================================================*/

.ttl {
  &-h2 {
    margin-bottom: 3rem;

    span {
      &:first-child {
        display: block;
        color: #cccccc;
        font-size: 1.125rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;

        @include media-breakpoint-down(md) {
          font-size: 1rem;
        }
      }

      &:last-child {
        display: block;
        font-weight: bold;
        font-size: 1.5rem;

        @include media-breakpoint-down(md) {
          font-size: 1.75rem;
        }
      }
    }
  }

  &-line {
    position: relative;
    text-align: center;
    margin-bottom: 4rem;
    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $light-gray;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
    }

    h2 {
      display: inline;
      background-color: $white;
      padding: 0 3rem;
    }
  }
}

/*===================================================
 お問い合わせ・資料請求ボタン
====================================================*/

.ctabtn {
  display: flex;

  &__wrap {
    border-radius: 8px;
    overflow: hidden;
  }

  &__item {
    text-decoration: none !important;
    text-align: center;
    padding: 1.5rem 2rem;
    white-space: nowrap;
  }
}

/*===================================================
 影
====================================================*/

.shadow {
  box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.2) !important;
}