/*===================================================
 全体
====================================================*/
body {
  font-family: "Quicksand", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  letter-spacing: 1px;
  font-size: .875rem;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  position: relative;
}

section {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;

  td,
  th {
    font-size: $font-size-sm;
    padding: 1rem;
  }
}

p {
  font-size: 14px;
}
/*===================================================
 余白
====================================================*/
.sec {
  padding: 4rem 0;
  @include media-breakpoint-down(md) {
    padding: 2.5rem 0;
  }
}

.space-t {
  padding-top: 6.5rem;
  @include media-breakpoint-down(md) {
    padding-top: 3.5rem;
  }
}

.space-b {
  padding-bottom: 6.5rem;
  @include media-breakpoint-down(md) {
    padding-bottom: 3.5rem;
  }
}
/*===================================================
 テキスト
====================================================*/
.f-10,
.f-14,
.f-18,
.f-24,
.f-26,
.f-32,
.f-36 {
  line-height: 145%;
}

.f-36 {
  font-size: 36px;
  @include media-breakpoint-down(md) {
    font-size: 29px;
  }
}

.f-32 {
  font-size: 32px;
  @include media-breakpoint-down(md) {
    font-size: 26px;
  }
}

.f-26 {
  font-size: 26px;
  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}

.f-24 {
  font-size: 24px;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

.f-18 {
  font-size: 18px;
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

.f-16 {
  font-size: 1rem;
}

.f-14 {
  font-size: 14px;
}

.f-10 {
  font-size: 10px;
}

/*===================================================
 リンク
====================================================*/
.btn {
  line-height: 1;
  padding: 1em 3em;
  border-radius: 5em;
  font-weight: bold;
  font-size: 0.9rem;

  &-outline {
    &-primary {
      position: relative;
      background-color: $secondary;
      color: $white;
      box-sizing: border-box;
      padding: 20px 0 20px 20px;
      width: 200px;
      text-align: center;
      border-radius: 5px;
      border-width: 2px;
      border: none;
      font-size: 1rem;

      &::after {
        content: "\f138";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 15px;
        bottom: calc(50% - 10px);
        font-size: 20px;
        color: $white;
      }
    }

    &-danger {
      border-radius: 0.5rem;
      border-width: 2px;
    }

    &-dark {
      border-radius: 0.5rem;
      border-width: 2px;
    }
  }
}

.ttl {
  &-h2 {
    margin-bottom: 3rem;

    span {
      &:first-child {
        display: block;
        color: #cccccc;
        font-size: 1.125rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        @include media-breakpoint-down(md) {
          font-size: 1rem;
        }
      }

      &:last-child {
        display: block;
        font-weight: bold;
        font-size: 1.5rem;
        @include media-breakpoint-down(md) {
          font-size: 1.75rem;
        }
      }
    }
  }
}
/*===================================================
 下層ページ - ページタイトル
====================================================*/
.mv__sub {
  width: 93%;
  height: 170px;
  border-radius: 20px;
  background: $light;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-down(md) {
    margin: 0 auto;
  }
  h1 {
    text-align: center;
  }
}
/*===================================================
 お問い合わせ・資料請求ボタン
====================================================*/

.ctabtn {
  display: flex;
  &__wrap {
    border-radius: 8px;
    overflow: hidden;
  }
  &__item {
    text-align: center;
    padding: 1.5rem 2rem;
    white-space: nowrap;
  }
}
