$body-color: #323232;

//メインカラー
$primary: #EF5D1D;
$secondary: #FF8811;

//サブカラー
$success: #F9CF41;
$info: #38ACC1;
$warning: #3bb273;

//薄いカラー
$light: #faf7f2;
$light-gray: #f5f1ef;
$gray: #e2e2e2;

//注釈テキスト
$muted: #e2e2e2;
