.faq {
  &__list {
    position: relative;
    &__inner {
      box-sizing: border-box;
      padding: 1rem 0;
      margin-bottom: 1rem;
      border-bottom: solid 1px $light;
      &:last-child {
        margin-bottom: 0;
      }
      &-ttl {
        position: relative;
        box-sizing: border-box;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        padding: 1rem 4rem;
        cursor: pointer;
        @include media-breakpoint-down(md) {
          padding: $font-size-sm 3rem;
        }
        &::before {
          position: absolute;
          left: 1rem;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          content: "Q";
          font-size: 1.2rem;
          font-weight: bold;
          text-align: center;
          line-height: 2em;
          width: 2em;
          height: 2em;
          border-radius: 50%;
          background-color: $primary;
          @include media-breakpoint-down(md) {
            left: 0;
          }
        }
        &::after {
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          content: "\f067";
          font-family: "Font Awesome 5 Free";
          font-size: 1rem;
          font-weight: 900;
          text-align: center;
          line-height: 2em;
          width: 2em;
          height: 2em;
          border-radius: 50%;
          background-color: rgba($primary, 0.5);
          letter-spacing: 0;
          transition: all 0.3s;
          @include media-breakpoint-down(md) {
            right: 0;
          }
        }
        &.active {
          &::after {
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
      &-ans {
        box-sizing: border-box;
        padding: 1rem 1rem 1rem 4rem;
        font-size: $font-size-sm;
        display: none;
        @include media-breakpoint-down(md) {
          padding: $font-size-sm $font-size-sm $font-size-sm 3rem;
        }
        p {
          margin-bottom: 0.5rem;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
