/*===================================================
  機能紹介
====================================================*/
.features {
  &-ttl {
    border-bottom: 1px solid $gray;
    margin-bottom: 3rem;
    padding: 1.5rem 0;
  }

  // 機能一覧
  &__system {
    width: 85%;
    margin: 3rem auto 1rem auto!important;
    @include media-breakpoint-down(md) {
      margin: 1rem auto!important;
    }
    &__nav {
      display: block;
      width: 70%;
      height: auto;
      overflow: hidden;
      overflow-x: scroll;
      white-space: nowrap !important;
      -webkit-overflow-scrolling: touch;
      text-align: center;
      margin: 3rem auto;
      border-radius: 10px;
      padding: 8px 1.5rem;
      &-item {
        padding: 0 2rem;
        font-weight: bold;
        text-align: center;
      }
    }
    &-item {
      width: 31%;
      margin-bottom: 2rem;
      @include media-breakpoint-down(md) {
        width: 49%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 1.3rem;
      }
    }
  }
}

/*===================================================
  旧
====================================================*/

.features {
  h3 {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem 0 2rem;
    font-weight: bold;
  }

  p {
    font-size: 0.85rem;
    margin: 0;
  }

  &__about {
    margin: 3rem 0;
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      margin: 0 auto;
      display: block;
      @include media-breakpoint-up(lg) {
        margin: 0;
      }
    }

    &-txt {
      margin: 2rem 0 0;
      @include media-breakpoint-up(lg) {
        width: 40%;
        margin: 0 0 0 3rem;
      }

      h3 {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0;
        text-align: center;
        line-height: 1.5;
      }

      p {
        font-size: 0.85rem;
        margin: 1rem 0;
      }

      a {
        display: block;
        border-radius: 10rem;
        border: 4px solid $secondary;
        margin: 0 auto;
        padding: 1.2rem 0;
        max-width: 320px;
        font-size: 1rem;
        text-align: center;
        color: $secondary;
        font-weight: bold;
        text-decoration: none!important;
        transition: 0.3s ease-in-out;

        &:hover {
          background: $secondary;
          color: $white;
        }
      }
    }
  }

  &__flow {
    .container {
      padding: 1.5rem 2rem;
      border-radius: 10px;
    }

    &__wrap {
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      &-inner {
        @include media-breakpoint-up(lg) {
          width: 23.5%;
        }

        .ttl {
          font-size: 1rem;
          font-weight: bold;
          max-width: 200px;
          padding: 6px 1rem;
          margin: 1rem auto;
          text-align: center;
          position: relative;
          z-index: 2;
          // &:after {
          //   content: '';
          //   position: absolute;
          //   width: 10px;
          //   bottom: -10px;
          //   left: -20px;
          //   z-index: 1;
          //   border: 20px solid #D3D3D3;
          //   border-left-color: transparent;
          // }
          //
          // &:before {
          //   content: '';
          //   position: absolute;
          //   width: 10px;
          //   bottom: -10px;
          //   right: -20px;
          //   z-index: 1;
          //   border: 20px solid #D3D3D3;
          //   border-right-color: transparent;
          // }
        }
      }
    }
  }

  &__main {
    .container {
      padding: 1.5rem 1rem;
      border-radius: 10px;
      @include media-breakpoint-up(lg) {
        padding: 1.5rem 4rem;
      }
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &-inner {
        width: 47%;
        @include media-breakpoint-up(lg) {
          width: 14%;
        }

        img {
          display: block;
          margin: 0 auto;
        }

        p {
          font-size: 1rem;
          font-weight: bold;
          text-align: center;
          margin-top: 1rem;
        }
      }
    }

    &__support {
      position: relative;
      background-color: $white;
      padding: 1.5rem 2rem;
      border-radius: 10px;
      margin: 0 auto;
      @include media-breakpoint-up(lg) {
        width: 80%;
      }

      &:before {
        content: '+';
        width: 57px;
        height: 57px;
        position: absolute;
        top: -23.5px;
        left: calc(50% - 28.5px);
        background: $secondary;
        border-radius: 10rem;
        color: $white;
        font-size: 2.2rem;
        text-align: center;
      }

      &__wrap {
        @include media-breakpoint-up(lg) {
          display: flex;
          justify-content: space-between;
        }

        &-inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;
          @include media-breakpoint-up(lg) {
            width: 48%;
            margin: 0;
          }
          // &:after,
          // &:before {
          //   content: '';
          //   width: 15px;
          //   height: 2px;
          //   background: #333;
          // }
          //
          // &::before {}
          &-txt {
            width: 48%;

            p.bg-white {
              font-size: 1rem;
              font-weight: bold;
              text-align: center;
              margin: 1rem 0;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}