/*===================================================
  機能紹介
====================================================*/
.features {
  // 導入
  &.sub__intro {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 15%;
      right:0;
      max-width: 722px;
      width: 48%;
      max-height: 527.59px;
      height: 90%;
      background-image: url('../images/features_intro@2x.png');
      background-size: cover;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  &-ttl {
    border-bottom: 1px solid $gray;
    margin-bottom: 3rem;
    padding: 1.5rem 0;
  }

  // 機能一覧
  &__system {
    width: 85%;
    margin: 3rem auto 1rem auto!important;
    @include media-breakpoint-down(md) {
      margin: 1rem auto!important;
    }
    &__nav {
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden;
      overflow-x: scroll;
      white-space: nowrap !important;
      -webkit-overflow-scrolling: touch;
      text-align: center;
      margin: 3rem 0;
      &-item {
        color: $primary;
        font-weight: bold;
        text-align: center;
        border-radius: 10px;
        border: 1px solid $primary;
        margin-right: 7px;
        padding: 8px 1.5rem;
        &:hover {
          background: $primary;
          color: $white;
          opacity: 1;
        }
      }
    }
    &-item {
      width: 31%;
      margin-bottom: 2rem;
      @include media-breakpoint-down(md) {
        width: 49%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 1.3rem;
      }
    }
  }
}