/*===================================================
  機能紹介
====================================================*/
.features {
  // 導入
  &.sub__intro {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 15%;
      right:0;
      max-width: 722px;
      width: 48%;
      max-height: 527.59px;
      height: 90%;
      background-image: url('../images/features_intro@2x.png');
      background-size: cover;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  &-ttl {
    border-bottom: 1px solid $gray;
    margin-bottom: 3rem;
    padding: 1.5rem 0;
  }
  &__menu {
    
  }
  // 機能一覧
  &__system {
    width: 85%;
    margin: 0 auto;
    &-item {
      width: 31%;
      margin-bottom: 2rem;
      @include media-breakpoint-down(md) {
        width: 49%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}