/*===================================================
 フッター
====================================================*/
.footer {
  width: 90%;
  margin: 3rem auto 90px auto;

  &__main {
    padding: 4rem 0;
    border-bottom: 1px solid #F0F0F0;
    @include media-breakpoint-down(lg) {
      padding: 2.5rem 0;
    }

    &-item {
      @include media-breakpoint-down(lg) {
        margin-bottom: 1.5rem;
      }
    }

    .ctabtn {
      @include media-breakpoint-down(lg) {
        margin-top: 2rem;
      }
    }
  }
}
