/*===================================================
  フッター - いますぐテイクイーツを始めよう！
====================================================*/
.footer__cta {
  padding: 3rem 0;
  border-radius: 40px;
  &-wrap {
    width: 80%;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  &-ttl {
    margin-bottom: 3rem;
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }
  &-phone {
    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      background: $primary;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
  &-btn {
    border-left: 2px solid $light-gray;
    a {
      margin: 0 auto;
    }
  }
  .text-secondary {
    border: none;
    span {
      color: $primary;
    }
    &:after {
      border-left: 3px solid $primary;
      border-bottom: 3px solid $primary;
    }
  }
}
/*===================================================
 フッター
====================================================*/
.footer {
  padding: 5rem 0;
  background-color: $light-gray;
  @include media-breakpoint-down(md) {
    padding: 3rem 0;
  }

  &__wrap {
    width: 90%;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      margin: 0 auto 60px;
      flex-wrap: wrap;
      flex-flow: column-reverse;
    }
  }

  // サービスについて
  &__service {
    position: relative;
    width: 25%;
    @include media-breakpoint-down(md) {
      width: 100%;
      text-align: center;
      margin: 3rem 0 0 0;
    }
    &__under {
      position: absolute;
      bottom: 0;
      @include media-breakpoint-down(md) {
        position: relative;
      }
    }
    &__sns {
      a {
        display: inline-flex;
        align-items: center;
        justify-items: center;
        vertical-align: middle;
        text-align: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $white;
        line-height: 3rem;
        font-size: 1.25rem;
        i {
          margin: 0 auto;
        }
      }
    }
  }

  // リンク一覧
  &__link {
    width: 75%;
    margin-left: 3rem;
    justify-content: flex-end;
    @include media-breakpoint-down(md) {
      justify-content: center;
      margin-left: 0;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    &__takeeats {
      margin-right: 3rem;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
      .footer__link-line {
        margin-right: 4rem;
        &:last-child {
          margin-right: 0;
        }
        @include media-breakpoint-down(sm) {
          margin-right: 0;
          &:nth-child(1),
          &:nth-child(3) {
            margin-right: 3rem;
          }
        }
      }
    }
    &__ttl {
      @include media-breakpoint-down(sm) {
        margin-top: 1.5rem;
      }
    }
    &-line {
      &-item {
        position: relative;
        display: block;
        margin-bottom: 1.2rem;
        padding-left: 2rem;
        font-weight: bold;
        color: $body-color;
        text-decoration: none !important;
        &:hover {
          color: $body-color;
        }
        &::after {
          content: "";
          width: 8px;
          height: 2px;
          position: absolute;
          top: calc(50% - 1px);
          left: 0;
          background-color: $body-color;
        }
      }
    }
  }
}
