/*===================================================
 ヘッダー
====================================================*/
.header {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
    padding: 0 1rem;
    min-height: 60px;
  }

  &__inner {
    display: flex;
    align-items: center;
    span {
      margin-top: 7px;
    }

  }
}
/*===================================================
 ドロワーメニュー
====================================================*/
.drawer {
  &__checkbox {
    display: none;
  }
  // ハンバーガーメニュー
  &__icon {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 56px;
    height: 60px;
    top: 0;
    right: 0.5rem;
    margin: 0;
    z-index: 99;

    &-parts,
    &-parts:after,
    &-parts:before {
      background-color: #000;
      display: block;
      width: 24px;
      height: 2px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.3s;
    }

    &-parts:after,
    &-parts:before {
      content: "";
    }

    &-parts:before {
      top: 16px;
    }

    &-parts:after {
      top: -16px;
    }
  }
  // ドロワーするコンテンツ
  &__menu {
    position: fixed;
    background: $white;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
    right: -100%;
    transition: all 0.3s;
    padding: 80px 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;

    &__wrap {
      margin: 0 auto;
    }
  }
  // ハンバーガーメニュー
  &__checkbox:checked ~ {
    .drawer__menu {
      right: 0;
    }

    .drawer__icon {
      .drawer__icon-parts {
        background: transparent;
      }

      .drawer__icon-parts:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }

      .drawer__icon-parts:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
    }
  }
}
/*===================================================
 画面下固定
====================================================*/
.fix-under {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $white;
  border-top: 1px solid #F0F0F0;
  padding: 10px;
  z-index: 98;

  .ctabtn__item {
    padding: 1rem 0;
    text-decoration: none;
  }
}
