.mv {
  z-index: 1;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 2rem 0 0;
  }

  .container {
    position: relative;
    min-height: 70vh;
    @include media-breakpoint-down(md) {
      display: block;
      min-height: 1px;
      padding-bottom: 2rem;
    }
  }

  &-illust {
    z-index: -1;
    position: absolute;
    top: -10rem;
    left: 0;
    @include media-breakpoint-down(md) {
      display: none;
    }

    &-2 {
      z-index: -1;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include media-breakpoint-down(md) {
      display: block;
    }

    &__left {
      width: 48%;
      box-sizing: border-box;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 2rem;
      }

      &-balloon {
        color: $primary;
        font-size: 1.25rem;
        letter-spacing: 1rem;
        font-weight: bold;
        margin: 0;
        @include media-breakpoint-down(md) {
          font-size: 1rem;
          text-align: center;
        }

        &::before {
          content: "＼";
          margin-right: 1rem;
        }

        &::after {
          content: "／";
          margin-left: 1rem;
        }
      }

      &-ttl {
        font-size: 2.6rem;
        color: $primary;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 1.5;
        margin: 1rem 0 2rem;
        @include media-breakpoint-down(md) {
          font-size: 1.6rem;
          text-align: center;
          margin: 1rem 0 1.5rem;
        }

        & + p {
          font-size: $font-size-sm;
          font-weight: bold;
          margin: 0;
          line-height: 1.7;
        }
      }
    }

    &__right {
      position: relative;
      width: 48%;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-top: 4rem;
      }

      &-ribbon {
        z-index: 1;
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        top: -2rem;
        left: -1rem;
        background-color: $white;
        border: solid 3px $primary;
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: bold;
        @include media-breakpoint-down(md) {
          left: 0;
          font-size: $font-size-sm;
        }
      }

      .video-js {
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        background-color: transparent;

        .vjs-poster {
          background-color: transparent;
        }

        .vjs-big-play-button {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 3rem;
          height: 3rem;
          border: 0;
          border-radius: 50%;
          background-color: #ff8811;

          .vjs-icon-placeholder::before {
            line-height: 3rem;
          }
        }
      }
    }
  }

  &__sub {
    background-color: $light;
    text-align: center;
    padding-top: 150px;

    h1 {
      position: relative;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      padding-bottom: 1rem;
      letter-spacing: 0.1em;
      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }

      &::after {
        position: absolute;
        bottom: -10px;
        left: 50%;
        content: "";
        display: block;
        width: 2em;
        height: 3px;
        background-color: $primary;
        margin-left: -1em;
      }
    }
  }
}

.home {
  &__news {
    background-color: $light;
    padding: 1rem 0;

    .container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 4rem;
      @include media-breakpoint-down(md) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    h2 {
      font-size: 1rem;
      margin: 0 2rem 0 0;
    }

    &__inner {
      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $body-color;
        line-height: 1;
        font-size: $font-size-sm;

        time {
          display: block;
          box-sizing: border-box;
          margin-right: 1rem;
          padding-right: 1rem;
          border-right: solid 1px $body-color;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  &__features {
    padding-bottom: 0;

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      padding: 0 0.5%;
      @include media-breakpoint-down(md) {
        padding: 0;
      }

      &__inner {
        z-index: 1;
        position: relative;
        width: 33%;
        box-sizing: border-box;
        padding: 3rem;
        background-color: #eeedea;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-bottom: 1rem;
          padding: 1.5rem;
        }

        &:nth-child(2) {
          background-color: #f3f2f0;
        }

        &-no {
          font-size: 80px;
          font-weight: bold;
          line-height: 1;
          color: rgba($body-color, 0.1);
        }

        &-img {
          text-align: center;
          margin: -1rem 0 4rem;
        }

        &-ttl {
          position: relative;
          text-align: center;
          font-size: 1.125rem;
          font-weight: bold;
          margin: 0 0 2rem;
          padding-bottom: 1rem;

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            display: block;
            width: 4rem;
            height: 2px;
            margin-left: -2rem;
            background-color: $primary;
          }
        }

        p {
          font-size: $font-size-sm;
          font-weight: bold;
          margin: 0;
        }
      }
    }
  }

  &__system {
    &__slide {
      box-sizing: border-box;

      &__inner {
        box-sizing: border-box;
        border: solid 2px #f4f4f4;
        border-radius: 0.5rem;
        background-color: $white;
        text-align: center;
        margin: 0 0.5rem;
        padding: 1.5rem;
        @include media-breakpoint-down(md) {
          padding: 1.5rem 0.7rem;
          margin: 0 0.25rem;
        }

        h3 {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0;
          @include media-breakpoint-down(md) {
            font-size: $font-size-sm;
          }
        }
      }

      &-thumbnail {
        margin-bottom: 1.5rem;

        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  &__flow {
    z-index: 1;
    position: relative;

    &-illust {
      z-index: -1;
      position: absolute;
      top: 1rem;
      left: 0;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: nowrap;
      @include media-breakpoint-down(md) {
        display: block;
      }

      &-img {
        width: 30%;
        text-align: center;
        font-size: 0;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    &__list {
      position: relative;
      padding: 0;
      margin: 0;
      @include media-breakpoint-down(md) {
        padding: 0 0 0 2rem;
      }

      &__inner {
        position: relative;
        list-style: none;
        margin-bottom: 1.5rem;

        &:nth-child(1) {
          @include media-breakpoint-up(lg) {
            margin-left: -30%;
          }
        }

        &:nth-child(2) {
          @include media-breakpoint-up(lg) {
            margin-left: -20%;
          }
        }

        &:nth-child(3) {
          @include media-breakpoint-up(lg) {
            margin-left: -10%;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-step {
          position: absolute;
          top: 50%;
          left: -2.5em;
          transform: translateY(-50%);
          width: 5em;
          height: 5em;
          border-radius: 50%;
          background-color: $primary;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          line-height: 1;
          padding-top: 0.75rem;

          span {
            display: block;
            font-size: 25px;
          }
        }

        &-txt {
          width: 560px;
          box-sizing: border-box;
          padding: 1rem 4rem;
          border-radius: 0.5rem;
          background-color: #f3f2f0;
          @include media-breakpoint-down(md) {
            width: 100%;
            padding: 1rem 1rem 1rem 3rem;
          }

          h3 {
            font-size: 1.125rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: $font-size-sm;
            margin: 0;
          }
        }
      }
    }
  }

  &__case {
    z-index: 1;
    position: relative;

    &-label {
      text-align: center;
      margin: -1rem 0 3rem;

      span {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        background-color: #fcffcc;
        padding: 1rem 2rem;
        border-radius: 10rem;
        font-weight: bold;

        &::after {
          content: "";
          position: absolute;
          bottom: -1rem;
          left: 50%;
          transform: translateX(-50%);
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 2rem 1rem 0 1rem;
          border-color: #fcffcc transparent transparent transparent;
        }
      }
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      &__inner {
        width: 32%;
        text-align: center;
        margin-right: 2%;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-bottom: 3rem;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(n + 4) {
          margin-top: 3rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-img {
          overflow: hidden;
          display: block;
          border-radius: 1rem;
          box-sizing: border-box;
          // padding: 2rem;
          box-shadow: 0 0 2rem rgba(#000000, 0.1);
          background-color: $white;
        }

        &-info {
          margin-top: 1.5rem;

          h3 {
            text-align: left;
            font-size: 1rem;
            font-weight: bold;
            margin: 0;

            a {
              color: $body-color;

              small {
                font-size: 90%;
                font-weight: bold;
                margin-left: 5px;
              }
            }
          }
        }

        &-tag {
          margin: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 0.5rem;

          span {
            display: block;
            box-sizing: border-box;
            line-height: 1;
            text-align: center;
            color: $danger;
            border: solid 1px $danger;
            font-size: 12px;
            padding: 3px 8px;
            margin-right: 0.25rem;
          }
        }

        &-btn {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
