/*===================================================
 ホーム - MV
====================================================*/
.home__mv {
  &-wrap {
    display: flex;
    margin-top: 80px;
    @include media-breakpoint-down(sm) {
      display: block;
      margin-top: 0;
    }
    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }
  }

  &__text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 570px;
    @include media-breakpoint-down(sm) {
      width: 100%;
      min-height: auto;
      margin-bottom: 0;
      justify-content: left;
      padding: 1rem 1.5rem 1.5rem;
    }

    &-ttl {
      margin-bottom: 1rem;
      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }

      span {
        border-bottom: 4px solid $success;
      }
    }

    p {
      width: 323px;
    }

    &::after {
      content: "";
      background: url("../images/mv_stamp_pc.png");
      background-size: cover;
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
      width: 140px;
      height: 141px;
      @include media-breakpoint-down(sm) {
        left: 1.5rem;
        right: auto;
        bottom: -6rem;
        width: 100px;
        height: 101px;
        z-index: 97;
      }
    }
  }

  &__photo {
    width: 50%;
    min-height: 570px;
    @include media-breakpoint-down(sm) {
      position: relative;
      width: 100%;
      min-height: 320px;
      padding-top: 1.5rem;
    }

    &::after {
      @include media-breakpoint-down(sm) {
        content: "";
        background: url("../images/mv_iphone_pc.png");
        background-size: cover;
        position: absolute;
        right: 1rem;
        bottom: 1.5rem;
        width: 161px;
        height: 320px;
      }
    }

    &-bg {
      width: 100%;
      height: 100%;
      background: url("../images/mv_bg_pc.png");
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(sm) {
        justify-content: flex-end;
        height: 250px;
      }
    }

    img {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
/*===================================================
 ホーム - テイクイーツが選ばれる理由
====================================================*/
.home__reason {
  &__wrap {
    width: 830px;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      width: 90%;
    }
  }

  &__item {
    margin-bottom: 1.3rem;
    padding: 0;
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }

    &-ttl {
      span {
        border-bottom: 2px solid $primary;
        color: $primary;
      }
    }
  }
}
/*===================================================
 ホーム - 商品お渡しまでの流れ
====================================================*/
.home__about {
  &__item {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 40px;
    width: 48%;
    margin-top: 1rem;
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
      width: 100%;
      margin-top: 2rem;
    }

    &:nth-child(2) {
      &:before {
        content: "02";
      }

      &:after {
        @include media-breakpoint-up(lg) {
          transform: rotate(-45deg);
          top: auto;
          bottom: -37px;
          left: -76px;
        }
      }
    }

    &:nth-child(3) {
      &:before {
        content: "03";
      }
    }

    &:nth-child(4) {
      &:before {
        content: "04";
      }

      &:after {
        display: none;
      }
    }

    &:before {
      content: "01";
      position: absolute;
      top: -12px;
      left: 0;
      color: $white;
      background: $primary;
      border-radius: 50% 50%;
      width: 68px;
      height: 68px;
      font-size: 26px;
      font-weight: bold;
      line-height: 2.1;
      text-align: center;
      padding-top: 7px;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      width: 120px;
      height: 11px;
      top: calc(50% - 5.5px);
      right: -60px;
      background: #f0f0f0;
      z-index: -1;
      @include media-breakpoint-down(md) {
        transform: rotate(90deg);
        top: auto;
        bottom: -60px;
        left: calc(50% - 60px);
      }
    }

    &-text {
      padding: 0 2rem;
    }
  }
}
/*===================================================
 ホーム - 導入事例
====================================================*/
.home__case {
  &__wrap {
    width: 80%;
    border-radius: 40px;
    @include media-breakpoint-down(md) {
      width: 94%;
    }
  }

  &__ttl {
    color: $primary;

    &:before {
      content: url("../images/case_leaf_r.png");
      display: block;
      margin-top: 10px;
      margin-right: 7px;
    }

    &:after {
      content: url("../images/case_leaf_l.png");
      display: block;
      margin-top: 10px;
      margin-left: 7px;
    }

    span {
      font-size: 50px;
      padding: 0 3px;
      @include media-breakpoint-down(md) {
        font-size: 40px;
      }
    }
  }

  &__inner {
    width: 80%;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &-img {
      border-radius: 20px;
    }
  }

  &__item {
    margin: 0 1.375rem 2rem 1.375rem;
    @include media-breakpoint-down(md) {
      max-width: 26%;
      height: auto;
      margin: 0 0.8125rem 2rem;
    }
  }
}
/*===================================================
 ホーム - 料金
====================================================*/
.home__price {
  &__nav {
    cursor: pointer;

    &-item {
      width: 170px;
      border-radius: 10px 10px 0 0;
      margin: 0 5px 0 0;
      border-bottom: 2px solid $white;
      @include media-breakpoint-down(md) {
        width: auto;
        margin: 0 1% 0 0;
      }

      &.active {
        border: none;
      }

      img {
        transform: rotate(90deg);
      }
    }

    &-link {
      border-radius: 0 !important;

      &.active {
        border-radius: 10px 10px 0 0 !important;
      }
    }
  }

  &__content {
    &-item {
      position: relative;
      width: 80%;
      margin: 0 auto;
      padding: 2rem;
      display: none;
      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 1.5rem 1rem 1rem;
      }

      &.show {
        display: block;
        border-radius: 40px;
      }

      &:nth-child(1) {
        border: 8px solid $secondary;
      }

      &:nth-child(2) {
        border: 8px solid $info;

        p {
          background: $light;
          border-radius: 40px;
          margin: 0 0 3rem;
          padding: 2rem 0;
          @include media-breakpoint-down(md) {
            margin: 0 0 5rem;
          }

          a {
            text-decoration: underline;
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        right: 1.5rem;
        bottom: 0;
        background: url("../images/price_woman.png");
        background-size: cover;
        width: 118.7px;
        height: 146px;
        @include media-breakpoint-down(md) {
          width: 98px;
          height: 120px;
        }
      }
    }

    &-wrap {
    }

    &-line {
      width: 30%;
      margin: 0 5px;
      padding: 2.5rem 0 2rem;
      border-radius: 30px;
      line-height: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 0.5rem 1.5rem;
        margin-bottom: 5px;
        border-radius: 40px;
      }

      &:last-child {
        border: 3px solid $light;
      }
    }
  }
}
/*===================================================
 ホーム - 導入までの流れ
====================================================*/
.home__flow {
  &__step {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }

    &-item {
      position: relative;
      text-align: center;
      width: 19%;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-left: 4rem;
        text-align: left;
      }

      &-num {
        
        @include media-breakpoint-down(md) {
          position: absolute;
        display: block;
        left: -4rem;
        text-align: center;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -2rem;
        left: calc(50% - 5px);
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $success;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: -1.65rem;
        left: 50%;
        width: 110%;
        height: 2px;
        background-color: $success;
        @include media-breakpoint-down(md) {
          top: 3.12rem;
          left: -2.812rem;
          width: 2px;
          height: 40%;
        }
      }
    }
  }
}
/*===================================================
 ホーム - SEOテキスト
====================================================*/
.seo {
  &__table {
    width: 80%;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &-item {
      margin: 0;
      cursor: pointer;
      position: relative;
      border-radius: 30px;

      &-q {
        padding: 1.5rem 3.5rem;

        &::before {
          content: "Q";
          position: absolute;
          left: 14px;
          top: 18px;
          font-size: 16px;
          color: $white;
          background: $primary;
          border-radius: 20px;
          padding: 3px 10px 5px;
        }
      }

      &-a {
        padding: 0 1.5rem 1.5rem;
        display: none;
        font-size: 0.9rem;
      }
    }
  }
}
/*===================================================
  いますぐテイクイーツを始めよう！
====================================================*/
.cta {
  &__form {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 1rem;
    }
  }

  &__btn {
    width: 90%;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &-item {
      display: inline-block;
      border-radius: 50px;
      width: 40%;
      margin: 0 0.5rem;
      padding: 1.5rem 1rem 1.5rem 3rem;
      text-decoration: none !important;
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 0;
      }

      &-ttl {
        position: relative;

        &::before {
          content: "";
          width: 28px;
          height: 28px;
          position: absolute;
          top: -2px;
          left: calc(50% - 5.5rem);
          @include media-breakpoint-down(sm) {
            top: 0;
          }
        }
      }

      &.request {
        position: relative;
        background: $secondary;
        border-bottom: 7px solid #c74f1b;
        @include media-breakpoint-down(sm) {
          margin-bottom: 1rem;
        }
        .cta__btn-item-ttl {
          &::before {
            background: url("../images/arrow_wh.svg");
            background-size: cover;
          }
        }
      }

      &.doc {
        position: relative;
        background: $white;
        border-bottom: 7px solid #f0f0f0;

        &:hover {
          background-color: #f0f0f0;
        }
        .cta__btn-item-ttl {
          &::before {
            background: url("../images/arrow_or.svg");
            background-size: cover;
            left: calc(50% - 8rem);
          }
        }
      }
    }
  }

  &__phone {
    position: relative;
    font-size: 32px;

    &:before {
      content: url("../images/icon_phone.svg");
      position: absolute;
      top: 0;
      left: -2rem;
    }
  }
}