// 汎用

span.marks {
  background: linear-gradient(transparent 60%, #f9cf41 60%);
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.drawer {
  &__checkbox {
    display: none;
  }

  &__icon {
    z-index: 1;
    position: absolute;
    cursor: pointer;
    display: block;
    width: 56px;
    height: 60px;
    top: 0;
    right: 1rem;
    margin: 0;
    @include media-breakpoint-up(lg) {
      display: none;
      height: 80px;
    }

    &-parts,
    &-parts:after,
    &-parts:before {
      background-color: #000;
      display: block;
      width: 26px;
      height: 2px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.3s;
    }

    &-parts:after,
    &-parts:before {
      content: "";
    }

    &-parts:before {
      top: 16px;
    }

    &-parts:after {
      top: -16px;
    }
  }

  &__menu {
    position: fixed;
    background: $white;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
    right: -100%;
    transition: all 0.3s;
    padding: 80px 0 0;
    margin: 0;
    @include media-breakpoint-up(lg) {
      padding: 0;
      margin: 0 0 0 2rem;
      position: static;
      width: auto;
      height: auto;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    li {
      list-style: none;

      a {
        display: block;
        color: $body-color;
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid $light;
        @include media-breakpoint-up(lg) {
          padding: 0 1em;
          border-bottom: 0;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }

    &-request {
      padding: 0.25rem 1rem;
      @include media-breakpoint-up(lg) {
        display: none;
      }

      a {
        position: relative;
        background-color: #fae08a;
        border-bottom: 0 !important;

        .fas {
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);
        }
      }
    }

    .lp__cta__box {
      width: 100%;
      padding: 0 15px;
      margin-right: auto;
      margin-left: auto;
      @include media-breakpoint-up(lg) {
        display: none;
      }

      a {
        margin-top: 1rem;
      }

      &:last-child {
        a {
          background: $secondary!important;
          color: $white!important;
          padding: 1.75rem 0;
        }
      }
    }
  }

  &__checkbox:checked ~ {
    .drawer__menu {
      right: 0;
    }

    .drawer__icon {
      .drawer__icon-parts {
        background: transparent;
      }

      .drawer__icon-parts:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
      }

      .drawer__icon-parts:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
      }
    }
  }
}
// メイン

.lp {
  &-ttl2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 1em;
    letter-spacing: 0.1rem;
    @include media-breakpoint-up(lg) {
      font-size: 1.6rem;
      margin-bottom: 1.75rem;
    }
  }
  // ヘッダー
  &__header {
    z-index: 999;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 0.875rem 0;
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      left: 50%;
      transform: translateX(-50%);
      max-width: 100%;
    }
  }

  &__nav {
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem;
    background-color: $white;
    border-radius: 50rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    @include media-breakpoint-up(lg) {
      padding: 1.62rem 3rem;
    }

    & > h1 {
      z-index: 1;
      margin: 0 30px 0 0;
      font-size: 0;

      img {
        display: inline-block;
        vertical-align: middle;
        margin-top: -5px;
        margin-right: 0.5rem;
        max-width: 135px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 1.25;
        margin-top: 8px;
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      width: 80px;
      height: 80px;
      background-color: $body-color;
      border-radius: 10rem;
      transition-duration: 0.3s;
      transition-property: transform;
      @include media-breakpoint-down(md) {
        display: none;
      }

      &:last-child {
        background-color: $secondary;
      }

      a {
        position: relative;
        color: $white;
        font-size: 11px;
        font-weight: bold;

        &:hover {
          text-decoration: none!important;
        }

        img {
          display: block;
          width: auto;
          height: 20px;
          margin: 0 auto 4px;
        }
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
  // メインビジュアル
  &__hero {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    background-image: url("../images/mv_lp_sp.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 100px 0 0;
    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: url("../images/mv_lp_sp@2x.png");
    }
    @include media-breakpoint-up(lg) {
      background-image: url("../images/mv_lp_pc.png");
      @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        background-image: url("../images/mv_lp_pc@2x.png");
      }
    }

    .container {
      padding: 0;
      @include media-breakpoint-up(lg) {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    &-wrap {
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-txt {
      @include media-breakpoint-up(lg) {
        width: 420px;
        height: auto;
      }

      h2 {
        color: #fff;
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 1.3rem;
        line-height: 3.5rem;
        letter-spacing: 0;
        @include media-breakpoint-up(lg) {
          font-size: 1.5rem;
        }

        span {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: -9px;
            left: calc(50% - 3px);
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background: $white;
          }
        }
      }

      p {
        position: relative;
        color: #fff;
        text-align: center;
        font-size: 1rem;
        margin: 0;
        display: inline-block;
        @include media-breakpoint-up(lg) {
          font-size: 1rem;
        }
      }

      .logo {
        margin: 0 auto 1.3rem;
        width: 240px;
        @include media-breakpoint-up(lg) {
          margin: 0.3rem auto 1rem;
          width: 326px;
        }
      }

      img {
        margin: 0 auto;
        display: block;
        width: 70%;
        @include media-breakpoint-up(lg) {
          width: 80%;
        }
      }
    }

    &-demo {
      overflow: hidden;
      text-align: center;
      font-size: 0;
      margin: 0;

      .pc {
        display: none;
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }

      .sp {
        display: block;
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }
  // ニュース
  &__news {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    color: $body-color;
    font-size: $font-size-sm;

    & > span {
      display: block;
    }

    &-ttl {
      width: 90%;
      line-height: normal;
    }

    &-arr {
      width: 10%;
      align-self: center;
      text-align: right;
    }
  }
  // 事例
  &__case {
    &-slide {
      &__inner {
        position: relative;
        overflow: hidden;

        &-balloon {
          position: relative;
          padding: 0.5em;
          width: 80%;
          background-color: $light;
          border-radius: 10rem;
          text-align: center;
          font-weight: bold;
          font-size: $font-size-sm;
          margin: 0 auto 1rem;

          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            border: 8px solid transparent;
            border-top: 8px solid $light;
          }
        }

        &-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 75px;

          span {
            display: block;

            img {
              display: block;
              margin: auto;
            }
          }
        }
      }
    }
  }

  // 特徴
  &__feature {
    margin: 3rem 1rem 0;
    border-radius: 20px;
    @include media-breakpoint-up(lg) {
      border-radius: 50px;
    }

    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__list {
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
      }
      &__inner {
        box-sizing: border-box;
        margin-bottom: 1rem;
        padding: 40px 20px;
        background: $white;
        border-bottom: 0;
        border-radius: 10px;
        @include media-breakpoint-up(lg) {
          padding: 45px 50px 45px 30px;
          border: solid 5px #F4F4F4;
          margin: 0 0 10px;
          width: 33%;
        }

        &:nth-child(2) {
          margin-left: auto;
          @include media-breakpoint-up(lg) {
            margin-left: 0;
            border-left: none;
            border-right: none;
          }
        }
      }

      &-text {

        h3 {
          font-size: 19px;
          margin: 0 0 10px;
          text-align: left;
          @include media-breakpoint-up(lg) {
            font-size: 1.3125rem;
          }
        }

        p {
          margin: 1rem 0 0;
          font-size: 0.9rem;
        }

        .comment {
          color: $danger;
          display: block;
          font-weight: bold;
          font-size: 1rem;
          margin-bottom: 10px;
        }
      }

      &-img {

        img {
          display: block;
          margin: 0 auto 2rem;
          padding: 0 3rem;
          @include media-breakpoint-up(lg) {
            padding: 0 1rem;
          }
        }
      }
    }
  }

  &__cta {
    z-index: 1;
    position: relative;
    background: #ccc;

    &__box {
      padding: 2rem 0;
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
        padding: 3rem 0;
      }

      a {
        display: block;
        font-weight: bold;
        border-bottom: 0 !important;
        border-radius: 50px;
        font-size: 1.125rem;
        text-align: center;
        transition-duration: 0.3s;
        transition-property: transform;
        @include media-breakpoint-up(lg) {
          width: 49%;
        }

        .min-txt {
          display: block;
          font-size: 11px;
          font-weight: lighter;
        }

        .free {
          color: $white !important;
          background: $secondary!important;
          border-radius: 2px;
          font-size: 0.9rem;
          padding: 2px 8px;
          margin-right: 10px;
        }

        &:nth-child(1) {
          color: #000!important;
          padding: 1.2rem 0;
          line-height: 1.7;
          background: $white!important;
        }

        &:nth-child(2) {
          color: $white !important;
          background: $secondary;
          padding: 1.75rem 0;
          margin-top: 1rem;
          @include media-breakpoint-up(lg) {
            margin-top: 0;
          }
        }

        &:hover {
          text-decoration: none!important;
          transform: scale(1);
          @include media-breakpoint-up(lg) {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  &__support {
    position: relative;

    &-ttl {
      position: relative;
      padding-bottom: 10px;
      font-size: 1.125rem;

      &:after {
        content: '';
        position: absolute;
        left: calc(50% - 10px;);
        bottom: 0;
        width: 20px;
        height: 3px;
        background: $danger;
      }

      &:nth-child(2) {
        &:after {
          background: $primary;
        }
      }
    }

    &__list {
      display: flex;
      border-radius: 10px;
      background: $white;
      @include media-breakpoint-up(lg) {
        max-width: 880px;
        margin: 0 auto;
      }

      &-item {
        padding: 1.5rem;

        &:nth-child(2) {
          border-top: 1px solid $light;
          border-bottom: 1px solid $light;
          @include media-breakpoint-up(lg) {
            border: none;
            border-left: 1px solid $light;
            border-right: 1px solid $light;
          }
        }

        &-ttl {
          font-size: 1rem;
          font-weight: bold;
        }

        &-text {
          font-size: 0.750rem;
          line-height: 145%;
          letter-spacing: 0;
        }
      }
    }

    &_structure {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      &-inner {
        margin: 0 1.2rem;
        text-align: center;
        font-size: 1.125rem;
        font-weight: bold;

        img {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__price {
    background: url("../images/price_bg_sp.png");
    background-size: cover;
    @include media-breakpoint-up(lg) {
      background: url("../images/price_bg_pc.png");
      background-size: cover;
    }

    &__wrap {
      border-radius: 20px;
      padding: 3rem 2rem;
      background: $white;
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
      }

      &-imgwrap {
        text-align: center;
        margin: 2rem 0;
        @include media-breakpoint-up(lg) {
          width: 50%;
          margin: 0;
        }
      }

      &-txtwrap {
        img {
          display: block;
          margin: 0 auto 1rem;
        }
        @include media-breakpoint-up(lg) {
          width: 50%;
        }
      }
    }
  }

  &__special {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    @include media-breakpoint-up(lg) {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .container {
      position: relative;
      padding: 2.5rem 0 2rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 77px;
        height: 100px;
        background: url("../images/lp_special.png");
        background-size: cover;
        @include media-breakpoint-up(lg) {
          left: 25%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 1.5rem;
        left: calc(50% - 5px);
        width: 10px;
        height: 10px;
        background: $primary;
        border-radius: 4px;
      }

      p {
        margin: 0 0 0 3rem;
        @include media-breakpoint-up(lg) {
          margin: 0;
        }
      }
    }
  }

  &__column {
    padding-bottom: 5rem!important;

    p {
      font-size: 0.9rem;
      margin-bottom: 3rem;
      @include media-breakpoint-up(lg) {
        text-align: center;
      }
    }

    &__wrap {
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        padding: 0 3rem;
      }
    }

    &-inner {
      margin-bottom: 1rem;
      @include media-breakpoint-up(lg) {
        width: 33%;
        margin-bottom: 0;
      }

      a {
        display: block;
        text-decoration: none!important;

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        @include media-breakpoint-up(lg) {
          padding: 0 0.8rem;
        }
      }

      &-img {
        text-align: left;
        width: 100%;
        height: 146px;
        overflow: hidden;
        border-radius: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.3s ease-in-out;
        }
      }

      &-txt {
        p {
          text-align: left;
          margin: 1rem 0 0;
          font-size: 0.9rem;
          color: $body-color;
        }
      }
    }
  }

  &__form {
    position: relative;
    background-color: #f9cf41;
    padding-top: 92px;
    padding-bottom: 2rem;
    overflow: visible;

    .container {
      @include media-breakpoint-up(lg) {
        max-width: 768px;
        margin: 0 auto;
      }
    }

    .lp__cta__box {
      background: $primary;
      padding: 0 0 3rem;
    }

    & > img {
      position: absolute;
      top: -92px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    &-top {
      padding: 2rem 0;
    }

    h3 {
      background-color: $danger;
      color: $white;
      text-align: center;
      padding: 0.5rem 1rem;
      font-size: 1.085rem;
      font-weight: bold;
      margin-bottom: 0;
    }

    .wpcf7-form {
      background-color: $white;
      padding-bottom: 2rem;
    }

    .form__table {
      td,
      th {
        background-color: $white;
        padding: 0 1rem;
        @include media-breakpoint-up(lg) {
          padding: 1rem;
        }

        &.table-ttl {
          background-color: $light;
          padding: 0.5rem 1rem;
          font-weight: normal;
          margin-bottom: 1rem;
          @include media-breakpoint-up(lg) {
            padding: 1rem;
          }
        }
      }
    }

    .wpcf7-list-item-label {
      a {
        text-decoration: underline;
      }
    }

    .wpcf7-submit {
      font-size: 1.125rem;
      padding: 1.5rem 0;
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

.footer-ctabtn {
  position: fixed;
  bottom: -100%;
  transition: all 0.3s;
  width: 100%;

  &:hover {
    text-decoration: none;
    color: $white;
  }

  .lp__cta__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    a {
      width: 50%;
      margin: 0;
      padding: 1rem 0;
      font-size: 1rem;
    }
  }
}

#txt-content {
  background: #f3f2f0;

  .container {
    div {
      background: $white;
      border-radius: 10px;
      padding: 2.5rem 1.5rem 2rem;
      margin-bottom: 1rem;

      h2 {
        margin-top: 0;
        padding: 0 0 0 1rem;
        background: $white;
      }
    }
  }
}
