.marketing {
  &__bg {
    background: url("../images/price_bg_sp.png");
    background-size: cover;
    background-position: top;
    @include media-breakpoint-up(lg) {
      background: url("../images/price_bg_pc.png");
      background-size: cover;
      background-position: top;
    }
  }

  p {
    text-align: center;
  }

  &__wrap {
    margin-top: calc(75px + 2rem);
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      align-items:flex-start;
      padding: 0 5rem;
    }

    &-inner {
      position: relative;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      padding: 5rem 2rem 2rem 2rem;
      border-radius: 20px;
      background: $white;
      margin-top: calc(75px + 1.5rem);
      @include media-breakpoint-up(md) {
        width: 32%;
        margin-top: 0;
      }

      &:nth-child(1),
      &:nth-child(3) {
        margin-left: 0;
        @include media-breakpoint-up(md) {
          margin: 0 auto;
        }
      }

      &:nth-child(2) {
        margin-right: 0;
        @include media-breakpoint-up(md) {
          margin: 1rem auto 0 auto;
        }
      }

      h3 {
        font-size: 1rem;
        font-weight: bold;
        margin: 1rem 0;
      }

      p {
        text-align: left;
        font-size: 0.85rem;
        margin: 0;
      }

      img {
        position: absolute;
        top: -75px;
            left: calc(50% - 75px);
      }
    }
  }
}
