/*===================================================
 料金プラン
====================================================*/
.price {
  &__plan {
    &__list {
      width: 48%;
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 2rem;
      }
      &.ent {
        .price__plan__list__table::before {
          border-top: 14px solid $info;
        }
        .price__plan__list__table-check:before {
          border-right: 5px solid $info;
          border-bottom: 5px solid $info;
        }
        .price__plan__list__table-func-btn {
          color: $info;
          border: 1px solid $info;
          &:hover {
            background-color: $info;
            color: $white;
            opacity: 1;
          }
        }
      }
      &-wrap {
        padding: 0 2rem;
        @include media-breakpoint-down(sm) {
          padding: 0 1rem;
        }
      }
      &__table {
        position: relative;
        border-radius: 10px;
        &::before {
          content: "";
          position: absolute;
          top: -2.5rem;
          left: calc(50% - 14px);
          border-top: 14px solid $secondary;
          border-right: 14px solid transparent;
          border-bottom: 14px solid transparent;
          border-left: 14px solid transparent;
        }
        &-box {
          margin-top: 2.5rem;
          @include media-breakpoint-down(sm) {
            margin-top: 2rem;
          }
        }
        &-name {
          font-weight: bold;
          padding: 2rem 0;
          border-radius: 10px 10px 0 0;
        }
        &-percent {
          font-size: 3.25rem;
          font-weight: bold;
          line-height: 0.6;
          span {
            font-size: 5.4rem;
            font-family: "Barlow";
          }
        }
        &-check {
          position: relative;
          font-size: 1rem;
          font-weight: bold;
          padding-left: 2rem;
          text-align: left;
          margin-bottom: 0.5rem;
          &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 6px;
            width: 0.8125rem;
            height: 1.25rem;
            border-right: 5px solid $secondary;
            border-bottom: 5px solid $secondary;
            transform: rotate(45deg);
          }
        }
        &-func {
          &-ttl {
            span {
              border-bottom: 2px solid $secondary;
            }
          }
          &-btn {
            display: inline-block;
            margin: 1rem auto 0 auto;
            color: $secondary;
            font-weight: bold;
            padding: 0.6rem 1.5rem;
            border: 1px solid $secondary;
            border-radius: 10px;
            &:hover {
              background-color: $secondary;
              color: $white;
              opacity: 1;
            }
          }
        }
        &-point {
          border-top: 2px solid $light-gray;
          margin-top: 2.5rem;
          padding: 2.5rem 0;
          text-align: center;
          @include media-breakpoint-down(sm) {
            text-align: left;
            margin-top: 2rem;
            padding: 2rem 0;
          }
        }
      }
    }
    &__attn {
      h3 {
        font-weight: bold;
        font-size: 1.125rem;
        margin: 2rem 0 1rem 0;
        padding-left: 0.625rem;
        border-left: 3px solid $primary;
      }
      ul {
        list-style: none;
        padding-left: 0;
        li {
          position: relative;
          padding-left: 1.5rem;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 10px;
            height: 2px;
            background-color: $primary;
          }
        }
      }
    }
  }
}
