/*===================================================
 お役立ちガイド
====================================================*/
.column {
  //ナビ
  &__nav {
    border-bottom: 1px solid $light-gray;
    .container {
      display: flex;
      justify-content: center;
      @include media-breakpoint-down(sm) {
        display: block;
        height: 4.6rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }

    &__item {
      position: relative;
      display: inline-block;
      padding: 1.8rem 2.5rem 1.8rem 3.75rem;
      @include media-breakpoint-down(md) {
        padding: 1.7rem 1.5rem;
      }
      &::after {
        display: none;
        content: "";
        width: 80%;
        height: 3px;
        position: absolute;
        left: 10%;
        bottom: 0;
        background-color: $primary;
      }
      &:hover {
        .column__nav__item::after {
          display: block;
        }
      }
      i {
        position: absolute;
        top: 40%;
        left: 1.8rem;
        @include media-breakpoint-down(md) {
          left: 0;
        }
      }
    }
  }
  //セクション
  &__sec {
    &.basic {
      .post-list-item {
        background-color: $white;
      }
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 0 1rem;
      }
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
    &__intro {
      width: 35%;
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 6rem;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 2rem;
      }
      &-ttl {
        font-size: 2.25rem;
        line-height: 1.8;
        font-weight: bold;
        margin: 1.5rem 0 3rem 0;
        @include media-breakpoint-down(md) {
          font-size: 1.875rem;
          margin: 1.2rem 0 1.5rem 0;
        }
      }
    }
    article {
      width: 60%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      @include media-breakpoint-down(sm) {
        width: 100%;
        justify-content: start;
      }
      .post-list-item {
        width: 47%;
        margin: 0 0 1rem 2%;
      }
      
    }
  }
  &__post {
    .container {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }
  }
}
