/*===================================================
 料金プラン
====================================================*/
.price {
  &__plan {
    width: 80%;
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    &-wrap {
      width: 66%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      &>div {
        width: 46%;

        @include media-breakpoint-down(sm) {
          width: 49%;
        }
      }
    }

    &-item {
      width: 30%;
      border-radius: 20px;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 1rem;
      }

      &-ttl {
        padding: 1.5rem;
        border-radius: 20px 20px 0 0;
        margin-bottom: 0;

        span {
          background-color: $white;
          color: $secondary;
          font-size: 90%;
          margin-right: 3px;
          padding: 3px 5px;
        }
      }

      &-list {
        width: 100%;
        list-style: none;
        margin-bottom: 0;
        padding: 0;

        li {
          width: 100%;
          margin-bottom: .5rem;
          padding: .5rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 130px;
        padding: 1.5rem;

        img {
          width: 57px;
          height: auto;
        }

        .percent {
          font-size: 56px;
          line-height: 0;

          @include media-breakpoint-down(sm) {
            line-height: 1;
          }
        }
      }
    }
  }

  &__special {
    .container {
      position: relative;
      max-width: 980px;
      background-color: #F2F7FA;
      padding: 3rem;

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        padding: 3rem 1rem 8rem 1rem;
      }

      &::before {
        content: '＼　複数店舗で導入したい方へ　／';
        position: absolute;
        top: -1rem;
        left: 0;
        width: 100%;
        font-size: 1.125rem;
        text-align: center;
        font-weight: bold;
      }

      &::after {
        content: '';
        position: absolute;
        right: 10%;
        bottom: 0;
        width: 159px;
        height: 142px;
        background-image: url('../images/plan_woman@2x.png');
        background-size: cover;

        @include media-breakpoint-down(sm) {
          right: calc(50% - 78.5px);
        }
      }
    }

    &-ttl {
      span {
        position: relative;
        color: $success;

        &::after {
          content: '';
          width: 100%;
          height: 3px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $success;
        }
      }
    }

    &-contact {
      padding: 2rem 1rem;
      border-radius: 20px;

      h3 {
        font-weight: bold;
        text-align: center;
      }

      .btn {
        border: 2px solid $success;
        color: $success !important;

        &::after {
          border-left: 3px solid $success;
          border-bottom: 3px solid $success;
        }
      }
    }

  }

  &__attn {
    h3 {
      font-weight: bold;
      font-size: 1.125rem;
      margin: 2rem 0 1rem 0;
      padding-left: 0.625rem;
      border-left: 3px solid $primary;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        position: relative;
        padding-left: 1.5rem;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 10px;
          height: 2px;
          background-color: $primary;
        }
      }
    }
  }
}