/*===================================================
 下層ページ - ページタイトル
====================================================*/
.mv__sub {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light;
  margin: 0 auto 6rem auto;
  padding: 3.5rem 0;
  @include media-breakpoint-down(md) {
    margin: 0 auto 5rem auto;
  }
  &-main {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    margin-left: 0.4rem;
  }
  &-small {
    color: $muted;
    font-size: 0.9375rem;
    letter-spacing: 0.2rem;
    margin-top: 0.75rem;
    margin-left: 0.2rem;
    text-transform: uppercase;
  }
}
